# macOS
.DS_Store

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Variables sensibles
*.tfvars
*.tfvars.json
terraform.tfvars

# Logs
*.log

# Node
node_modules/
npm-debug.log*

# IDE
.vscode/
.idea/
